---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: santoshpalla27/3-tier:frontend-6
        ports:
        - containerPort: 5173
        env:
        - name: VITE_API_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: VITE_API_URL
        resources:
          requests:
            cpu: "200m"      # Requesting 200 milli-CPU
          limits:
            cpu: "500m"      # Limiting the container to 500 milli-CPU
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  ports:
  - port: 5173
    targetPort: 5173
  selector:
    app: frontend
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: frontend-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: frontend
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
